body{
  max-width: 100vw !important;
}
/* 
*{ box-sizing: border-box;}  */

.Capgemini-bullets-ul{
  list-style-type: square;
  margin-left: 8vw;
}
.Capgemini-bullets-ul{
    text-align: unset;
}

.Capgemini-bullets-li{
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 3%;
}

.h1{
 text-align: center;
padding-top: 10px;
font-size: 20px;
color: chocolate;
}

.bodystyle{
  width: 90%;
  margin: 0 auto;
}
img {
    display: inline-block;
    /* Change this to fit all images */
  } 

  .Mystyle{
    margin-top: 2%;
    text-align: center;
  }

  /* .Myheading{
    margin-top: 2%;
    text-align: center;

  } */

  .textstyle{
    text-align: center;
    margin-left: 10%;
    margin-top: 2%;
  }
