

/* *{ margin: 0; padding: 0; box-sizing: border-box;} */

.Ibm-bullets-ul{
  list-style-type: square;
  margin-left: 8vw;
}


.Ibm-bullets-li{
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.h1{
 
text-align: center;
padding-top: 10px;
font-size: 20px;
color: chocolate;
}
img {
    display: inline-block;
   /* Change this to fit all images */
  }

  
  .Mystyle{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }
  .Myheading{
    margin-top: 2%;
    text-align: center;
    text-align: justify;
    margin-left: 10%;

  }
  .textstyle{
    margin-top: 2%;
    margin-left: 10%;
  }