

.Microsoft-bullets-ul{
  list-style-type: square;
  margin-left: 8vw;
  font-size: 30px;
  
}


.Microsoft-bullets-li{
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  
}
.bodystyle{
  width: 90%;
  margin: 0 auto;
}

.h1{
 
text-align: center;
padding-top: 10px;
 color: green;
 font-size: 30px;


}
img{
    display: inline-block;
     /* Change this to fit all images */
   
  }

  .Mystyle{
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;  
  }

  .Myheading{
    margin-top: 2%;
    text-align: center;
  }

  .textstyle{
    margin-top: 2%;
    margin-left: 10%;  
  }

