
/* 
*{ margin: 0; padding: 0; box-sizing: border-box;} */

.Oracle-bullets-ul{
  list-style-type: square;
  margin-left: 8vw;
}


.Oracle-bullets-li{
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 3%;
}
.bodystyle{
  width: 90%;
  margin: 0 auto;
}
.h1{
 
text-align: center;
padding-top: 10px;
font-size: 20px;
color: chocolate;
}
img {
    display: inline-block;
    /* Change this to fit all images */
  }

  .Mystyle{
    margin-top: 2%;
    text-align: center;
  }

  .Myheading{
    margin-top: 2%;
    text-align: center;

  }
  .textstyle{
    margin-top: 2%;
    margin-left: 10%;
  }
