



/* 
*{ margin: 0; padding: 0; box-sizing: border-box;} */

.Accenture-bullets-ul{
  list-style-type: square;
  margin-left: 8vw;
}


.Accenture-bullets-li{
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 3%;
}

.h1{
 
text-align: center;
padding-top: 10px;
font-size: 20px;
color: chocolate;
}
img {
    display: inline-block;
    margin: 35px 10px; /* Change this to fit all images */
  }

  .Mystyle{
    margin-top: 2%;
    text-align: center;
  }

  .Myheading{
    margin-top: 2%;
    text-align: center;

  }

  .textstyle{
    text-align: center;
    margin-left: 10%;
    margin-top: 2%;
  }
